@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --student_Admin-color: #7171b1;
  --teacher-color: #62908d;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
